---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1AJx2pJOUYpKB5iyium2VxLu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1AJx2pJOUYpKB5iyium2VxLu",
          "object": "event",
          "api_version": "2017-04-06",
          "created": 1494907943,
          "data": {
            "object": {
              "id": "ch_1AJx2oJOUYpKB5iydqEEEUZW",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": "txn_1AJx2oJOUYpKB5iySrNUF80C",
              "captured": true,
              "created": 1494907942,
              "currency": "usd",
              "customer": "cus_AfHcwQOlHFPQt0",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_1AJx2oJOUYpKB5iyyIerPjPl",
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1AJx2oJOUYpKB5iydqEEEUZW/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1AJx2oJOUYpKB5iykBpANgAZ",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "12345",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AfHcwQOlHFPQt0",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2019,
                "fingerprint": "9MPJb3dwwMsodK2s",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": "myflix subscription",
              "status": "succeeded",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_AfHcbJblkRlfdh",
          "type": "charge.succeeded"
        }
  recorded_at: Mon, 22 May 2017 03:00:32 GMT
recorded_with: VCR 2.9.3
