---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1AItUkJOUYpKB5iy1QKTLBP8",
          "object": "token",
          "card": {
            "id": "card_1AItUkJOUYpKB5iyfX6wiuEv",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2018,
            "fingerprint": "9MPJb3dwwMsodK2s",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "72.226.37.113",
          "created": 1494655970,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 13 May 2017 06:12:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign+up+charge&source=tok_1AItUkJOUYpKB5iy1QKTLBP8
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1AItUlJOUYpKB5iynPY40cx9",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1AItUlJOUYpKB5iy2g56jLUj",
          "captured": true,
          "created": 1494655971,
          "currency": "usd",
          "customer": null,
          "description": "Sign up charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1AItUlJOUYpKB5iynPY40cx9/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1AItUkJOUYpKB5iyfX6wiuEv",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2018,
            "fingerprint": "9MPJb3dwwMsodK2s",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Sat, 13 May 2017 06:12:51 GMT
recorded_with: VCR 2.9.3
