---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=5&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1AM6mSJOUYpKB5iyXi5RAl1z",
          "object": "token",
          "card": {
            "id": "card_1AM6mSJOUYpKB5iyuE7D8QcQ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2018,
            "fingerprint": "svSZ2T2hcgcFkJK8",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "72.226.37.113",
          "created": 1495422024,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 22 May 2017 03:00:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign+up+charge&source=tok_1AM6mSJOUYpKB5iyXi5RAl1z
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_1AM6mSJOUYpKB5iypmoC4pok"
          }
        }
  recorded_at: Mon, 22 May 2017 03:00:24 GMT
recorded_with: VCR 2.9.3
