---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1AL2lIJOUYpKB5iyHWH30fkF",
          "object": "token",
          "card": {
            "id": "card_1AL2lIJOUYpKB5iypwPIqQrr",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2018,
            "fingerprint": "9MPJb3dwwMsodK2s",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "72.226.37.113",
          "created": 1495168248,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 19 May 2017 04:30:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_1AL2lIJOUYpKB5iyHWH30fkF&email=bob%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AgPasMWL1hfyfm",
          "object": "customer",
          "account_balance": 0,
          "created": 1495168248,
          "currency": "usd",
          "default_source": "card_1AL2lIJOUYpKB5iypwPIqQrr",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "bob@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AL2lIJOUYpKB5iypwPIqQrr",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AgPasMWL1hfyfm",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2018,
                "fingerprint": "9MPJb3dwwMsodK2s",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AgPasMWL1hfyfm/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_AgPaOpoTZ8gBuq",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1495168248,
                "current_period_end": 1497846648,
                "current_period_start": 1495168248,
                "customer": "cus_AgPasMWL1hfyfm",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1AL2lIJOUYpKB5iy2YckxGNX",
                      "object": "subscription_item",
                      "created": 1495168249,
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 999,
                        "created": 1494867253,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "base plan",
                        "statement_descriptor": "myflix subscription",
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_AgPaOpoTZ8gBuq"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1494867253,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "base plan",
                  "statement_descriptor": "myflix subscription",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1495168248,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AgPasMWL1hfyfm/subscriptions"
          }
        }
  recorded_at: Fri, 19 May 2017 04:30:49 GMT
recorded_with: VCR 2.9.3
