!!! 5
%html(lang="en-US")
  %body
    %p Hello from Myflix, #{@user.full_name}!
    %p
      You have asked to reset password, in order to do so please click
      = link_to 'here', password_reset_url(@user)