---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_1AM6mDJOUYpKB5iy3MasTKCf&email=joe%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AhVnJP66gDhHc6",
          "object": "customer",
          "account_balance": 0,
          "created": 1495422009,
          "currency": "usd",
          "default_source": "card_1AM6mDJOUYpKB5iykuxxO56f",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "joe@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AM6mDJOUYpKB5iykuxxO56f",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "10001",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AhVnJP66gDhHc6",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "9MPJb3dwwMsodK2s",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AhVnJP66gDhHc6/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_AhVn7zfxju0VP1",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1495422009,
                "current_period_end": 1498100409,
                "current_period_start": 1495422009,
                "customer": "cus_AhVnJP66gDhHc6",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1AM6mDJOUYpKB5iyElcYMP7j",
                      "object": "subscription_item",
                      "created": 1495422010,
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 999,
                        "created": 1494867253,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "base plan",
                        "statement_descriptor": "myflix subscription",
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_AhVn7zfxju0VP1"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1494867253,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "base plan",
                  "statement_descriptor": "myflix subscription",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1495422009,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AhVnJP66gDhHc6/subscriptions"
          }
        }
  recorded_at: Mon, 22 May 2017 03:00:10 GMT
recorded_with: VCR 2.9.3
