---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign+up+charge+for+joe%40example.com&source=tok_1AJ8xcJOUYpKB5iyPf3M5iG3
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1AJ8xdJOUYpKB5iycMltXWtl",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1AJ8xdJOUYpKB5iyDuQja5WL",
          "captured": true,
          "created": 1494715421,
          "currency": "usd",
          "customer": null,
          "description": "Sign up charge for joe@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1AJ8xdJOUYpKB5iycMltXWtl/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1AJ8xcJOUYpKB5iy7ru8pqgx",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": "10001",
            "address_zip_check": "pass",
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "9MPJb3dwwMsodK2s",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Sat, 13 May 2017 22:43:41 GMT
recorded_with: VCR 2.9.3
