---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_1AJwEaJOUYpKB5iy87eN4Jbe&email=joe%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_ld8RLv6UuAENQtLAOEbzQW8A
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Tue, 16 May 2017 03:20:28 GMT
recorded_with: VCR 2.9.3
